<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
</head>

<body>
    <h1>Shorten a URL</h1>

    <form action="/create" method="POST">
        <input type="text" name="url" placeholder="Enter long URL" required>
        <input type="text" name="url-name" placeholder="(Optional) Enter new URL name" maxlength="10">
        <select name="lifetime" id="lifetime">
            <option value="days 1">1 Day</option>
            <option value="days 3">3 Days</option>
            <option value="weeks 1">1 Week</option>
            <option value="weeks 2">3 Weeks</option>
            <option value="months 1">1 Month</option>
            <option value="none">Never</option>
        </select>
        <button type="submit">Shorten</button>
    </form>

    {% if history %}
    <table>
        <tr>
            <th>Short URL</th>
            <th>Page Name</th>
            <th>Expires</th>
        </tr>
        {% for result in history %}
        <tr>
            <td><a href="http://localhost:5000/{{result.short_code}}">http://localhost:5000/{{result.short_code}}</a></td>
            <td><a href="{{result.long_url}}">{{result.page_title}}</a></td>
            <td>{{result.expires_at}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>No URLs Shortened</p>
    {% endif %}
</body>

</html>